---
import Header from '@components/ui/Header.astro';
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:my-16"
>
	<Header header="About Me" />

	<div class="lg:w-1/7 w-full text-justify text-black dark:text-white">
		<p class="mb-2">
			10+ years of product management building, launching, and growing products (e-commerce, retail,
			telecom, developer tooling). Co-founded PaaS startup, drove growth features, launched 4G/LTE,
			boosted e-commerce revenue, and improved operations.
		</p>
	</div>
</section>
