---

---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:my-16"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			10+ years of product management building, launching, and growing products (e-commerce, retail,
			telecom, developer tooling). Co-founded PaaS startup, drove growth features, launched 4G/LTE,
			boosted e-commerce revenue, and improved operations.
		</p>
	</div>
</section>
