---
export const prerender = false;
---

<div id="email-container" class="relative">
	<form id="email-form" class="w-full max-w-3xl">
		<div class="mb-4">
			<label for="name" class="mb-2 block text-sm font-bold text-black dark:text-white">
				Name:
			</label>
			<input
				type="text"
				name="name"
				id="name"
				required
				class="w-full rounded-xl border-2 border-orange bg-white px-3 py-2 text-sm text-black focus:border-orange focus:outline-none focus:ring-2 focus:ring-orange dark:bg-black dark:text-white"
				placeholder="Your name"
			/>
		</div>
		<div class="mb-4">
			<label for="email" class="mb-2 block text-sm font-bold text-black dark:text-white">
				Email:
			</label>
			<input
				type="email"
				name="email"
				id="email"
				required
				class="w-full rounded-xl border-2 border-orange bg-white px-3 py-2 text-sm text-black focus:border-orange focus:outline-none focus:ring-2 focus:ring-orange dark:bg-black dark:text-white"
				placeholder="Your email address"
			/>
		</div>
		<div class="mb-4">
			<label for="message" class="mb-2 block text-sm font-bold text-black dark:text-white">
				Message:
			</label>
			<textarea
				name="message"
				id="message"
				required
				rows="4"
				class="w-full rounded-xl border-2 border-orange bg-white px-3 py-2 text-sm text-black focus:border-orange focus:outline-none focus:ring-2 focus:ring-orange dark:bg-black dark:text-white"
			></textarea>
		</div>
		<div class="flex justify-center">
			<button
				type="submit"
				class="rounded-xl bg-orange px-4 py-2 text-sm font-bold text-white transition duration-300 hover:bg-black dark:hover:bg-white dark:hover:text-black"
			>
				Send message
			</button>
		</div>
	</form>
	<div id="success-message" class="text-green-600 mt-4 hidden">
		<p>Thank you for contacting me. I will reach out as soon as possible!</p>
	</div>
	<div id="error-message" class="text-red-600 mt-4 hidden">
		<p>There was an error sending your message. Please try again.</p>
	</div>
	<div
		id="loading-overlay"
		class="absolute inset-0 flex hidden items-center justify-center bg-orange bg-opacity-10 backdrop-blur-sm dark:bg-white dark:bg-opacity-5"
	>
		<div class="border-t-transparent h-12 w-12 animate-spin rounded-full border-4 border-orange">
		</div>
	</div>
</div>

<script>
	const form = document.getElementById('email-form');
	const successMessage = document.getElementById('success-message');
	const errorMessage = document.getElementById('error-message');
	const loadingOverlay = document.getElementById('loading-overlay');

	form?.addEventListener('submit', async (e) => {
		e.preventDefault();

		successMessage?.classList.add('hidden');
		errorMessage?.classList.add('hidden');
		loadingOverlay?.classList.remove('hidden');

		const formData = new FormData(form as HTMLFormElement);

		try {
			const response = await fetch('/api/sendEmail.json', {
				method: 'POST',
				body: formData,
			});

			const result = await response.json();

			loadingOverlay?.classList.add('hidden');

			if (response.ok) {
				form?.classList.add('hidden'); // Hide the form
				successMessage?.classList.remove('hidden');
			} else {
				errorMessage?.classList.remove('hidden');
			}
		} catch (error) {
			console.error('Error:', error);
			loadingOverlay?.classList.add('hidden');
			errorMessage?.classList.remove('hidden');
		}
	});
</script>
