---
// No server-side code needed here
---

<div id="email-container">
	<form id="email-form" class="w-full max-w-3xl">
		<div class="mb-4">
			<label for="name" class="mb-2 block text-sm font-bold text-black dark:text-white">
				Name:
			</label>
			<input
				type="text"
				name="name"
				id="name"
				required
				class="w-full rounded-xl border-2 border-orange bg-white px-3 py-2 text-sm text-black focus:border-orange focus:outline-none focus:ring-2 focus:ring-orange dark:bg-black dark:text-white"
				placeholder="Your name"
			/>
		</div>
		<div class="mb-4">
			<label for="email" class="mb-2 block text-sm font-bold text-black dark:text-white">
				Email:
			</label>
			<input
				type="email"
				name="email"
				id="email"
				required
				class="w-full rounded-xl border-2 border-orange bg-white px-3 py-2 text-sm text-black focus:border-orange focus:outline-none focus:ring-2 focus:ring-orange dark:bg-black dark:text-white"
				placeholder="Your email address"
			/>
		</div>
		<div class="mb-4">
			<label for="message" class="mb-2 block text-sm font-bold text-black dark:text-white">
				Message:
			</label>
			<textarea
				name="message"
				id="message"
				required
				rows="4"
				class="w-full rounded-xl border-2 border-orange bg-white px-3 py-2 text-sm text-black focus:border-orange focus:outline-none focus:ring-2 focus:ring-orange dark:bg-black dark:text-white"
			></textarea>
		</div>
		<div class="flex justify-center">
			<button
				type="submit"
				class="rounded-xl bg-orange px-4 py-2 text-sm font-bold text-white transition duration-300 hover:bg-black dark:hover:bg-white dark:hover:text-black"
			>
				Send message
			</button>
		</div>
	</form>
	<div id="success-message" class="hidden">
		<p>Thank you for your message. It has been sent successfully!</p>
	</div>
	<div id="error-message" class="hidden">
		<p>There was an error sending your message. Please try again.</p>
	</div>
</div>

<script>
	const form = document.getElementById('email-form');
	const successMessage = document.getElementById('success-message');
	const errorMessage = document.getElementById('error-message');
	if (form) {
		form.addEventListener('submit', async (e) => {
			e.preventDefault();

			const formData = new FormData(form as HTMLFormElement);

			try {
				console.log('Form submitted - before fetch');
				const response = await fetch('/api/sendEmail.json', {
					method: 'POST',
					body: formData,
				});
				console.log('Form submitted - after fetch');
				const data = await response.json();

				if (response.ok) {
					form?.classList.add('hidden');
					successMessage?.classList.remove('hidden');
				} else {
					throw new Error(data.message || 'Failed to send message');
				}
			} catch (error) {
				console.error('Error in email.astro:', error);
				errorMessage?.classList.remove('hidden');
			}
		});
	}
</script>
