---
import { Icon } from 'astro-icon/components';
---

<a
	href="https://www.linkedin.com/in/abdallahshaban/"
	target="_blank"
	rel="noopener"
	aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:linkedin"
		size={100}
	/></a
>
<a href="https://x.com/AbdallahSh07" target="_blank" rel="noopener" aria-label="X">
	<svg
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		width="100"
		height="100"
		viewBox="0 0 24 24"
		fill="currentColor"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g fill="currentColor">
			<path d="M1 2h2.5L18.5 22h-2.5z"></path>
			<path d="M5.5 2h2.5L23 22h-2.5z"></path>
			<path d="M3 2h5v2h-5z"></path>
			<path d="M16 22h5v-2h-5z"></path>
			<path d="M18.5 2h3.5L5 22h-3.5z"></path>
		</g>
	</svg>
</a>
<a href="https://github.com/abdallahshaban557" target="_blank" rel="noopener" aria-label="github"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:github"
		size={100}
	/></a
>
